<h1 mat-dialog-title>Edit ToDo</h1>
<mat-dialog-content>
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="Description" [(ngModel)]='todoItem.description' name='description'
        (keyup)='checkCanAdd()' required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assigned to</mat-label>
      <mat-select [(ngModel)]='todoItem.assignedTo' name='assignedTo'>
        <mat-option *ngFor="let person of people" [value]="person.name">
          {{person.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf='todoItem.assignedTo' mat-button (click)='clear()'>clear</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="todoItem" cdkFocusInitial [disabled]='!canSave'>Save</button>
</mat-dialog-actions>